<h1>Pages#profile</h1>
<p>Find me in app/views/pages/profile.html.erb</p>

<div class="row">
    <div class=col-xs-12>
      <div class="jumbotron"> 
      Header
      </div>
      </div>
     </div>
<!---jumbotron row above--->

 <div class="row">
    <div class=col-xs-3>
      <div class="panel panel-default">
       <div class="panel-body">
          <p>profile</p>
       </div>
      </div>
     </div>
    
    <div class=col-xs-6>
<div class="panel panel-default">
       <div class="panel-body">
          <p>Peep</p>
       </div>
      </div>
     </div>
       
    <div class=col-xs-3>
<div class="panel panel-default">
       <div class="panel-body">
          <p>about</p>
       </div>
      </div>
     </div>

 </div>
<!---# begin new row--->
 <div class="row">
    <div class="col-xs-3 col-xs-offset-9">
        
      <div class="panel panel-default">
          
       <div class="panel-body">
          <p>trends</p>
       </div>
      </div>
     </div>
  </div>
